/*Layout*/

/*Main*/
#main {
	background: #efefed url(../images/bg-head.png) no-repeat top center !important;
}

/*Logo*/

/*Slide*/
#slide {
	background: url(../images/bg-slide.png);
	width: 960px;
	height: 250px;
}

#side-slide .block .content {
	background: #FFF;
}

